.sidebar {
	background-color: rgba(248,249,250);
	height: 100vh;
}

.sidebar ul {
  padding: 10px;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}

.sidebar ul li{
	margin-bottom: 10px;
}
.sidebar ul li a{
  color:brown;
  font-size: 22px;
  text-decoration: none;
}
.sidebar ul li a:hover{
  color: rgb(32, 30, 30);
}
